@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    src: local('Consolas'), url('Consolas.woff') format('woff');
}


body {
  background-color: black;
  color: white;
  font-family: 'Consolas', 'Lucida Console', 'Liberation Mono';
  font-size: normal;
  margin-left: 2px;
  margin-right: 2px;
  overflow-anchor: none;
}

#divfix {
  bottom: 10;
  right: 10;
  font-family: Lucida Sans Unicode;
  font-size: 160%;
  opacity: 0.4;
  position: fixed;
}

#close img {
    position: absolute;
    right: 14px;
    margin-top: 2px;
    opacity: 0.6;
}

#message {
  display: block;
  border-radius: 15px;
  padding: 8px;
  margin-top: 8px;
}

#text {
  display: block;
}

#line {
  display: block;
}

#header {
  margin-bottom: 8px;
}

/* red */
.type_A,.type_L,.type_D {
  background-color: #990000 ;
}
.type_A.night, .type_L.night, .type_D.night {
  background-color: #660000 ;
  color: #999999;
}

/* orange */
.type_B {
  background: #9D5500;
}
.type_B.night {
  background: #5D2300;
  color: #999999;
}

/* green */
.type_F,.type_V {
   background: #006600;
}
.type_F.night, .type_V.night {
  background: #003300;
  color: #999999;
}

/* blue */
.type_E {
   background: #004295;
}
.type_E.night {
  background: #002255;
  color: #999999;
}

/* blue */
.type_C {
  background: #CEF6F1;
}
.type_C.night {
  background: #AED6F1;
  color: #999999;
}

/* yellow */
.type_G, .type_H, .type_J, .type_K, .type_W, .type_Z {
  background: #999900;
}
.type_G.night, .type_H.night, .type_J.night, .type_K.night, .type_W.night, .type_Z.night {
  background: #666600;
  color: #999999;
}

.button {
  display: inline-block;
  font-family: 'Consolas';
  background: black;
  color: grey;
}

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .messagetype {
  color: grey;
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

#refreshButton {
  display: inline-block;
}

.dropdown-check-list .stationid {
  color: grey;
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .stationid:after {
  color: grey;
  position: absolute;
  content: "";
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .messagetype:after {
  color: grey;
  position: absolute;
  content: "";
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .stationid:active:after {
  color: grey;
  right: 8px;
  top: 21%;
}

.dropdown-check-list .messagetype:active:after {
  color: grey;
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: grey;
}

.dropdown-check-list.visible .items {
  display: block;
}

input[type=checkbox] {
  position: relative;
  vertical-align: middle;
  bottom: 1px;
}

/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* iPhone 6s Landscape & Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .dropdown-check-list {
      font-size: 120%;
    }
    .dropdown-check-list .messagetype {
      font-size: 120%;
    }
    .dropdown-check-list .stationid {
      font-size: 120%;
    }
    .dropdown-check-list ul.items {
      font-size: 120%;
      padding-left: 40px;
    }
    input[type=checkbox] {
      -webkit-transform: scale(2,2);
      margin-right: 30px;
    }
    #refreshButton {
      display: none;
    }
    #message {
      font-size: 70%;
      margin-right: 2px;
    }
}

/* iPhone 6s Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .dropdown-check-list {
      font-size: 150%;
    }
    .dropdown-check-list .messagetype {
      font-size: 150%;
    }
    .dropdown-check-list .stationid {
      font-size: 150%;
    }
    .dropdown-check-list ul.items {
      font-size: 200%;
      padding-left: 50px;
    }
    #message {
      font-size: 90%;
    }
    input[type=checkbox] {
      -webkit-transform: scale(3,3);
      margin-right: 40px;
    }
}
